:root {
    background-color: #3059ff;
}

#input-text,
#date-text {
    background-color: #3059ff;
    color: #ffff;
}

.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: 1000px;
    width: 1000px;
    height: 500px;
}