:root {
    width: 100%;
}

body {
    background-color: #8a307f;
    color: #79a7d3;
}

.container a {
    color: rgb(69, 195, 237);
}

.container h2 {
    text-transform: capitalize;
    color: #ffff;
}

hr {
    height: 10px;
    color: #6883bc;
    min-width: 55%;
}

.container img {
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.container {
    display: inline-flexbox;
    padding-bottom: 10px;
    padding-top: 15px;
}

nav {
    color: #79a7d3;
    width: 100%;
    max-width: 100%;
    background-color: rgb(11, 1, 1);
    border: #79a7d3;
    border-radius: 5px;
    height: 75px;
    display: inline-flexbox;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

ol {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
}

ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
}

div h2 {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: #79a7d3;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

a {
    font-weight: bold;
    font-size: 25px;
}

footer {
    width: 100%;
    max-width: 100%;
    background-color: rgba(106, 45, 106, 0.636);
    border: white;
    border-radius: 5px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
}

nav h1 {
    color: #79a7d3;
    text-decoration: dotted;
    text-decoration-color: #ffff;
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: 1000px;
    width: 1000px;
    height: 500px;
    font-family: 'Open Sans', sans-serif;
    color: #6883bc;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

h1 {
    color: #6883bc;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
    }
}

@media screen and (max-width: 480px) {
    body {
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
    }

}